.asistenta-content-one h6{
    color: black;
    margin-top: 2rem;
    font-size: 2rem;
    margin-top: 0px;
}
.buttons-asistenta{
    display: flex;
    justify-content: flex-start;
}
.buttons-asistenta .btn-danger{
    width: 20rem;
    margin-right: 2rem;
}
.buttons-asistenta .btn-light{
    color: red;
    width: 20rem;
}
.buttons-subiecte-populare .btn-light{
    margin-right: 2rem;
    height: 4rem;
    color: black;
    font-weight: bold;
}
.container h4{
    margin-top: 2rem;
}
.asistenta-content-one{
    background-color: grey;
    margin-top: 0px;
}