.footer{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 4rem;
    background-color: black;
}
.link-footer{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    text-align: center;
    margin-left: 12rem;
}